body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: black;
}

#game-board {
  background-color: rgb(255, 231, 228);
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background: linear-gradient(to bottom, rgb(0, 195, 255), rgb(0, 46, 250));
  border: 0.25vmin solid black;
}

.food {
  background-color: rgb(250, 246, 8);
  border: 0.25vmin solid black;
}
